<div class="our-team">
  <div class="container">
    <h2 class="title-style-1">Our Team
      <span class="title-under"></span>
    </h2>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="team-member">
          <div class="thumnail">
            <img src="assets/images/team/member-1.jpg" alt="" class="cause-img">
          </div>
          <h4 class="member-name">
            <a href="#">Robert C. Numbers</a>
          </h4>
          <div class="member-position">
            CO-FOUNDER
          </div>
          <div class="btn-holder">
            <a href="#" class="btn">
              <i class="fa fa-envelope"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa fa-google"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
        </div>
        <!-- /.team-member -->
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="team-member">
          <div class="thumnail">
            <img src="assets/images/team/member-3.jpg" alt="" class="cause-img">
          </div>
          <h4 class="member-name">
            <a href="#">Marjorie R. Echevarria</a>
          </h4>
          <div class="member-position">
            CO-FOUNDER
          </div>
          <div class="btn-holder">
            <a href="#" class="btn">
              <i class="fa fa-envelope"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa fa-google"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
        </div>
        <!-- /.team-member -->
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="team-member">
          <div class="thumnail">
            <img src="assets/images/team/member-4.jpg" alt="" class="cause-img">
          </div>
          <h4 class="member-name">
            <a href="#">Allison J. Falls</a>
          </h4>
          <div class="member-position">
            CO-FOUNDER
          </div>
          <div class="btn-holder">
            <a href="#" class="btn">
              <i class="fa fa-envelope"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa fa-google"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
        </div>
        <!-- /.team-member -->
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="team-member">
          <div class="thumnail">
            <img src="assets/images/team/member-2.jpg" alt="" class="cause-img">
          </div>
          <h4 class="member-name">
            <a href="#">Bryan B. Stevens</a>
          </h4>
          <div class="member-position">
            CO-FOUNDER
          </div>
          <div class="btn-holder">
            <a href="#" class="btn">
              <i class="fa fa-envelope"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa fa-google"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
        </div>
        <!-- /.team-member -->
      </div>
    </div>
    <!-- /.row -->
  </div>
</div>