<div class="about-us-col">
  <div class="col-icon-wrapper">
    <img src="assets/images/icons/help-icon.png" alt="">
  </div>
  <h3 class="col-title">Together We Grow</h3>
  <div class="col-details">
    <p>Our resposibility doesn’t end just by donating to a cause. It is also to identify them. Thus anyone who comes across a 
      genuine beneficiary can post their details here and we will collaboratively support them. Our motive is to expand all 
      of our thoughts to friends and families and bring together everyone who thinks like us, and encourage the participation 
      of everyone to support their people in their own neighborhood. We do not want to give away something with no idea of where 
      it goes. We want everyone who gives something, to also know where it goes and what change it has brought in someone's life.
    </p>
  </div>
</div>