<div class="navbar-top">
    <div class="container">
        <div class="row">
            <div *ngIf="false" class="col-sm-6 col-xs-12">
                <ul class="list-unstyled list-inline header-contact">
                    <li>
                        <i class="fa fa-phone"></i>
                        <a href="tel:">+91 96666 11411</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:VasudhaikaKutumbam@outlook.com">VasudhaikaKutumbam@outlook.com</a>
                    </li>
                </ul>
            </div>
            <div *ngIf="false" class="col-sm-6 col-xs-12 text-right">
                <ul class="list-unstyled list-inline header-social">
                    <li>
                        <a href="https://www.facebook.com/msrameshkumarcse" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-google"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa fa-pinterest-p"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>