.tab-content .tab-pane{
    padding-top: 20px;
}

.alert {
  padding: 8px;
  margin-bottom: 8px;
}

/*.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}
.ng-untouched[required] {
  border-left: 5px solid #66afe9;
}*/
