<div class="container">
  <div class="row fadeIn animated">
    <div class="col-md-6 detail-image">
      <img src="assets/images/about-us.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-6 detail-content">
      <p>
        We all might have heard about Abbey D'Agostino and Nikki Hamblin from the recent 2016 Rio Olympics. During the second Women’s
        5000m heat, Hamblin stumbled and fell face forwards accidentally tripping up D'Agostino. When Hamblin was lying on
        the track behind her, D’Agostino got back to feet and instead of attempting to catch the pack of runners, turned
        back and helped Hamblin to her feet and both started running again. But within moments, D’Agostino began faltering,
        her leg injured as a result of the fall and fell again to the ground. This time Hamblin stopped running and turned
        to D’Agostino, reaching for her with two open arms, helped her and both the runners, though could not win, finished
        the race.
      </p>
      <p>
        Why are we talking about this incident? Every one has goals to make a better living for themselves in their lifetime. The
        goal is to win a never ending race. We had the same goals few years back. Then we also realized that growth in life
        is not just growing ourselves but supporting people grow along with us. We are grateful to the opportunities we got
        in life and thankful to what we are today. But not everyone is gifted like us. There are a lot of people who do not
        have those opportunities, do not have a standard education, do not have a minimal standard living, do not have a
        supporting hand that can pull them back to their feet. We wish to lend that hand. We wish to be that support. We
        wish to put them back on their feet and on the race track along with us.
      </p>
      <p>
        The Power of 'We' is unlimited. And we are harnessing that power through all of you. Well, it’s not all of you, it’s all
        of us. We together, can bring brightness in the life of hundreds of people. We together, can bring a happiness in
        the life of thousands of people. We together, can finish the race with millions of people. When we do it, we all
        win.
      </p>
    </div>
  </div>
  <!-- /.row -->
</div>