<div class="col-sm-5 col-sm-offset-1 col-contact">
  <h2 class="title-style-2">Reach out to us
    <span class="title-under"></span>
  </h2>
  <!-- <h4 class="sub-title-style-2">We have those too</h4> -->
  <div class="contact-items">
    <ul class="list-unstyled contact-items-list">
      <li class="contact-item">
        <span class="contact-icon">
          <i class="fa fa-phone"></i>
        </span>
        <a href="tel:">+91 96666 11411</a>
      </li>
      <li class="contact-item">
        <span class="contact-icon">
          <i class="fa fa-envelope"></i>
        </span>
        <a href="mailto:VasudhaikaKutumbam@outlook.com">VasudhaikaKutumbam@outlook.com</a>
      </li>
    </ul>
  </div>
</div>