<form #userCredentialsForm="ngForm" class="editForm" novalidate>
  <div class="tab-pane fade in active">
    <div class="signup-wrapper">
      <div class="signup-main">
        <h2>Create your personal account</h2>
        <div class="form-group has-feedback" [ngClass]="{'has-success':username.valid,'has-error':(!username.valid && !username.pristine)}">
          <label class="control-label" for="username">Username</label>
          <input type="text" class="form-control" name="username" aria-describedby="usernameHelp" #username="ngModel" required [(ngModel)]="userCredentials.userName"
          />
          <span class="form-control-feedback glyphicon" [ngClass]="{'glyphicon-ok':username.valid,'glyphicon-remove':(!username.valid && !username.pristine)}"></span>
          <div class="alert alert-danger" [hidden]="username.valid || username.pristine">First Name is required</div>
          <small id="usernameHelp" class="form-text text-muted">This will be your username. You can add the name of your organization later.</small>
        </div>
        <div class="form-group has-feedback" [ngClass]="{'has-success':email.valid,'has-error':(!email.valid && !email.pristine)}">
          <label class="control-label" for="email">Email address</label>
          <input type="email" class="form-control" name="email" aria-describedby="emailHelp" #email="ngModel" required [(ngModel)]="userCredentials.email"
          />
          <span class="form-control-feedback glyphicon" [ngClass]="{'glyphicon-ok':email.valid,'glyphicon-remove':(!email.valid && !email.pristine)}"></span>
          <div class="alert alert-danger" [hidden]="email.valid || email.pristine">Email is required</div>
          <small id="emailHelp" class="form-text text-muted">We'll occasionally send updates about your account to this inbox. We'll never share your email address with anyone.</small>
        </div>
        <div class="form-group has-feedback" [ngClass]="{'has-success':password.valid,'has-error':(!password.valid && !password.pristine)}">
          <label class="control-label" for="password">Password</label>
          <input type="password" class="form-control" name="password" aria-describedby="passwordHelp" #password="ngModel" required
            [(ngModel)]="userCredentials.password" />
          <span class="form-control-feedback glyphicon" [ngClass]="{'glyphicon-ok':password.valid,'glyphicon-remove':(!password.valid && !password.pristine)}"></span>
          <div class="alert alert-danger" [hidden]="password.valid || password.pristine">Password is required</div>
          <small id="passwordHelp" class="form-text text-muted">Use at least one lowercase letter, one numeral, and seven characters.</small>
        </div>
        <p class="disclosure">
          By clicking on "Create an account" below, you are agreeing to the
          <a href="#" target="_blank">Terms of Service</a> and the
          <a href="#" target="_blank">Privacy Policy</a>.
        </p>
        <button type="submit" class="btn btn-success">Create an account</button>
        <div class="form-group text-center">
          <button class="btn btn-success btn-outline-rounded btn-info" [disabled]="!userCredentialsForm.valid" (click)="goToNext(userCredentialsForm)">
            Next
            <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>